// Paneles emergentes
// sidebar

aside.panel {
    --sidepanelWidth: 480px;
    position: absolute;
    top: 0;
    left: 100vw;
    height: 100vh;
    width: var(--sidepanelWidth);

    &.panel__swapping {
        display: block;
        transform: translateX(calc(var(--sidepanelWidth) * -1));
        transition: transform 1s ease-in;
        animation: fadeIn 1s ease-in;
        animation-fill-mode: forwards;
      }
      
      @keyframes fadeIn {
          0% {opacity: 0;}
          100% {opacity: 1;}
      }
    }

// Ocultar iconos
#icons.hide {
  display: none;
} 

#btnSidepanel > label {
  font-size: 1.75rem;
  line-height: 0;
  &::after {
    content: "\2039";
  }
}